body{
    background-color: #ABDDD9;
}

nav{
    background-color: #124948;
}

.nav-button{
    background-color: #cbdc6c;
}

nav h1{
    color: #ABDDD9;
}

main h1{
    color: #124948;
    font-size: 72px;
}

.container h1{
    color: #124948;
}

thead{
    color: #124948;
}

li{
    list-style-type: none;
}

.nav-button:hover{
    background-color: #1cfeba;
    box-shadow: 3px 3px 3px #1cfeba60;
}

.altura-total{
    height: calc( 100vh - 100px );
}

.btn.confirme{
    color: #fff;
    background-color: #124948;
}

.btn.cancel{
    background-color: #cbdc6c;
}

.form-titulo{
    color: #124948;
}