body{
    background-color: #ABDDD9;
}

nav{
    background-color: #124948;
}

.nav-link{
    background-color: #cbdc6c;
}

.navbar-brand{
    color: #ABDDD9;
}

main h1{
    color: #124948;
    font-size: 72px;
}

.container h1{
    color: #124948;
}

thead{
    color: #124948;
}

li{
    list-style-type: none;
}

.nav-link:hover{
    background-color: #1cfeba;
    box-shadow: 3px 3px 3px #1cfeba60;
}

.altura-total{
    height: calc( 100vh - 100px );
}

.btn.confirme{
    color: #fff;
    background-color: #124948;
}

.btn.cancel{
    background-color: #cbdc6c;
}

.form-titulo{
    color: #124948;
}

@media (max-width:300px) {
    .nav-item{
        font-size: 12px;
    }
}

img .card-img-top{
    max-width: 75px;
}